Source: wlanpi-common
Section: embedded
Priority: optional
Maintainer: Jiri Brejcha <jirka@jiribrejcha.net>
Uploaders: Adrian Granados <adrian@intuitibits.com>, Josh Schmelzle <josh@joshschmelzle.com>, Nigel Bowden <wifinigel@gmail.com>
Build-Depends: debhelper (>=9), build-essential
Standards-Version: 3.9.8
Homepage: https://github.com/WLAN-Pi/wlanpi-common

Package: wlanpi-common
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, tcpdump, dnsutils, iputils-arping, jq, toilet, ssh, spectools, sysstat, bc
Description: WLAN Pi - common scripts and files
 Shared common scripts and files for various WLAN Pi applications.
