Source: wlanpi-common
Section: embedded
Priority: optional
Maintainer: Jiri Brejcha <jirka@jiribrejcha.net>
Uploaders: Adrian Granados <adrian@intuitibits.com>, Josh Schmelzle <josh@joshschmelzle.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Homepage: https://github.com/WLAN-Pi/wlanpi-common

Package: wlanpi-common
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, tcpdump, dnsutils, iputils-arping, jq, toilet, ssh, sysstat, bc, i2c-tools, raspi-utils-core
Description: WLAN Pi - common scripts and files
 Shared common scripts and files for various WLAN Pi applications.
