#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --with systemd

override_dh_auto_install:
	dh_auto_install -- prefix=/usr

override_dh_installinit:
	dh_installinit --name=wlanpi-networkinfo
	dh_installinit --name=wlanpi-rename-at-startup

override_dh_systemd_enable:
	dh_systemd_enable --name=wlanpi-networkinfo
	dh_systemd_enable --name=wlanpi-rename-at-startup
	dh_systemd_enable --name=wlanpi-config-at-startup
	