[Unit]
Description=Applies platform specific settings at startup to WLAN Pi
After=pcie.service

[Service]
ExecStart=/opt/wlanpi-common/wlanpi-config-at-startup.sh
WorkingDirectory=/opt/wlanpi-common/
Type=oneshot

[Install]
WantedBy=multi-user.target