[Unit]
Description=Checks for WLAN Pi updates
After=network.target
Wants=network.target

[Service]
ExecStart=/opt/wlanpi-common/wlanpi-check-for-updates.sh
WorkingDirectory=/opt/wlanpi-common/

[Install]
WantedBy=multi-user.target
